<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">


    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
        Copyright © wildlandfireresource.com <span id="year"></span>
    </span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
        <a href="#" target="_blank">Privacy Policy</a>
        <span style="margin: 0 0.5rem; color: #6c757d;">|</span>
        <a href="#" target="_blank">Terms &amp; Conditions</a>
    </span>
  </div>
</footer>