<div class="app-name">
    <h1>W&R</h1>
</div>
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:dashboard' %}"> <i class="fas fa-chart-line"></i><span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:resource_order' %}"><i class="fas fa-file-alt"></i><span>Resource Orders</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:fetch_shift_ticket' %}"><i class="fas fa-wpforms"></i><span>Shift Tickets</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:exhibit_e' %}"><i class="fas fa-folder"></i><span>Evaluations</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:mysettings' %}"><i class="fas fa-folder"></i><span>Profile</span></a>
    </li>
</ul>
<span id="menu-toggle"><i class="fas fa-arrow-left"></i></span>