<div id="content-top" class="navbar navbar-expand-lg top">
    <div class="container-fluid">

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <ul class="mynavbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:pageholder' %}"><i class="fas fa-question-circle fa-icon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:pageholder' %}"><i class="fas fa-bell fa-icon"></i></a>
            </li>
            <!-- <li class="nav-item">
                <div class="prof-circle" >
                    <div class="profile-circle">{{ initials }}</div>
                </div>

            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="prof-circle" >
                        <div class="profile-circle">{{ initials }}</div>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                    <li>
                        <div class="user-info">
                            <div class="profile-circle">{{ initials }}</div>
                            <div class="name-username">
                                <div>{{ username }}</div>
                                <div class="text-muted">{{ first_name }} {{ last_name }}</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'main:mysettings' %}"><i class="fas fa-cog"></i>My Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:pageholder' %}"><i class="fas fa-user-plus"></i>Refer a friend</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:pageholder' %}"><i class="fas fa-question-circle"></i>Help Center</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:logout' %}"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>