{% extends "base.html" %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock styles %}


{% block content %}
<div class="login-wrap-container">
  
  <form action="{% url 'main:login' %}" method="POST">
    {% csrf_token %}
  <div class="login-content">
    <h1>Welcome to VIPR</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="wrap-login">
        <div class="wrap-login-inside">
        <div class="alert show" id="myAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        </div>
        </div>

        {% endfor %}
      {% endif %}
    <div class="wrap-login">
      <div class="wrap-login-inside">
        <p>Username</p>
        <div class="input-container">
          <i class="fas fa-user icon username"></i>
          <input id="username" class="login-input" name="username" type="text" value="" placeholder="Enter your username" required="">	
        </div>
        
      </div>
      
    </div>
    <div class="wrap-login">
      <div class="wrap-login-inside">
        <p>Password</p>
        <div class="input-container">
          <i class="fas fa-lock icon"></i>
          <input id="password" name="password" class="login-input" type="password" value="" placeholder="Enter password" required="">
          <i id="eye" onclick="togglePassword('eye')" class="fas fa-solid fa-eye-slash eye" style="display: none;"></i>
          <i id="eye-slash" style="display: block;" onclick="togglePassword('eye-slash')" class="fas fa-solid fa-eye eye"></i>	
        </div>
        
      </div>
      
    </div>

    <p>Forgot Password?</p>

     <button type="submit">
      <i class="fas fa-sign-in-alt icon-sign"></i> Login
    </button><br>
    <a href="{% url 'main:authView' %}" style="text-decoration: none; color: black"><p class="clickable"><span class="quiz">Don't have an account? </span> Register</p></a>

  </div>
</form>

</div>
{% endblock content %}